# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Security
*.keystore
*.jks
*.p12
.env

# Mobile Build Artifacts
*.aab
*.apk
android/app/build/
ios/App/App/public/

play_store_feature_1024x500.png
play_store_feature_final.png
play_store_feature.png
play_store_icon_512.png
play_store_icon.png
