.block_ {
  display: block;
  font-family: serif;
  font-size: 1em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_1 {
  display: block;
  font-family: serif;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_2 {
  display: block;
  font-family: serif;
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_3 {
  display: block;
  font-family: serif;
  margin: 0;
  padding: 0;
}
.block_4 {
  display: block;
  font-family: serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.block_5 {
  display: block;
  font-family: serif;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_6 {
  display: block;
  font-size: 1em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_7 {
  display: block;
  font-family: "Nirmala UI", sans-serif;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_8 {
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.block_9 {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}
.block_10 {
  display: block;
  font-family: "Sylfaen", serif;
  font-size: 1em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_11 {
  display: block;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.calibre {
  color: black;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1.83333em;
  line-height: 1.2;
}
.calibre3 {
  font-weight: bold;
}
.calibre4 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 2em;
  line-height: 1.2;
}
.calibre5 {
  font-family: "Calibri Light", sans-serif;
  font-size: 1.41667em;
  line-height: 1.2;
}
.calibre6 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1.125em;
  line-height: 1.2;
}
.calibre7 {
  font-size: 1.41667em;
  line-height: 1.2;
}
.calibre8 {
  font-size: 1.125em;
  line-height: 1.2;
}
.calibre9 {
  font-family: "Calibri Light", sans-serif;
  font-size: 1.125em;
  line-height: 1.2;
}
.calibre10 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1.41667em;
  line-height: 1.2;
}
.calibre11 {
  text-decoration: underline;
}
.calibre12 {
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre13 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre14 {
  line-height: 1.2;
  text-decoration: underline;
}
.calibre15 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 0.675em;
  line-height: 1.2;
}
.calibre16 {
  white-space: pre-wrap;
}
.calibre17 {
  font-size: 0.70588em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre18 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 0.5625em;
  line-height: 1.2;
}
.calibre19 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 0.79412em;
  line-height: 1.2;
}
.calibre20 {
  height: auto;
  width: auto;
}
.calibre21 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre22 {
  font-size: 0.79412em;
  line-height: 1.2;
}
.calibre23 {
  font-family: "Calibri Light", sans-serif;
  font-size: 0.675em;
  line-height: 1.2;
}
.msonormal {
  display: block;
  margin: 1em 0;
}
.msonormal1 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}
.msonormal2 {
  display: block;
  text-align: justify;
  margin: 1em 0;
}
.msonormal3 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  margin: 0.67em 0;
}
.sgc-toc-level {
  display: block;
  margin-left: 0;
}
.sgc-toc-title {
  display: block;
  font-size: 1.41176em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  text-align: center;
}
.text_ {
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}
.text_1 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1em;
}
.text_2 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  line-height: 1.2;
}
.text_3 {
  font-family: "Times New Roman", serif;
  font-size: 1em;
}
.text_4 {
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.text_5 {
  font-family: "Times New Roman", serif;
}
.text_6 {
  font-family: "Nirmala UI", sans-serif;
}
.text_7 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
}
.text_8 {
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: bold;
}
.text_9 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.text_10 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}
.text_11 {
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}
.text_12 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}
.text_13 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  font-style: italic;
  line-height: 1.2;
}
.text_14 {
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-style: italic;
}
.text_15 {
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}
.text_16 {
  font-size: 1em;
  font-weight: bold;
}
.text_17 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.text_18 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}
.text_19 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
}
.text_20 {
  font-size: 1em;
}
.text_21 {
  font-size: 1.41667em;
  line-height: 1.2;
  text-decoration: underline;
}
.text_22 {
  font-size: 1em;
  text-decoration: underline;
}
.text_23 {
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
}
.text_24 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  line-height: 1.2;
  text-decoration: line-through;
}
.text_25 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  font-style: italic;
  line-height: 1.2;
  text-decoration: underline;
}
.text_26 {
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
}
.text_27 {
  font-size: 1.41667em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.text_28 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  line-height: 1.2;
  text-decoration: underline;
}
.text_29 {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}
.text_30 {
  font-size: 1.41667em;
  font-style: italic;
  line-height: 1.2;
}
.text_31 {
  font-size: 1em;
  font-style: italic;
}
.text_32 {
  font-family: "Nirmala UI", sans-serif;
  font-size: 1em;
  text-decoration: underline;
}
.text_33 {
  font-family: "Times New Roman", serif;
  font-size: 1em;
  text-decoration: underline;
}
.text_34 {
  font-size: 1.41667em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}
.text_35 {
  font-weight: bold;
  text-decoration: underline;
}
.text_36 {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
.text_37 {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.text_38 {
  font-family: "Nirmala UI", sans-serif;
  text-decoration: underline;
}
.text_39 {
  font-family: "Times New Roman", serif;
  font-size: 1.41667em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}
.text_40 {
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.text_41 {
  font-size: 1.41667em;
  font-style: italic;
  line-height: 1.2;
  text-decoration: underline;
}
.text_42 {
  font-family: "Sylfaen", serif;
  font-size: 1em;
}
.text_43 {
  font-family: "Sylfaen", serif;
  font-size: 1.41667em;
  line-height: 1.2;
}
.text_44 {
  background-color: #FFF;
  font-size: 1em;
}
.text_45 {
  background-color: #FFF;
  font-size: 1.41667em;
  line-height: 1.2;
}
.text_46 {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.2;
}
